<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark" style="height: 75px;">
    <div class="container-fluid">
    <a class="navbar-brand">Markdown files</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Menu</a>
            <div class="dropdown-menu">
                <button id="pickFilesButton" class="dropdown-item" href="#">Select folder</button>
                <button id="convertAllButton" class="dropdown-item" href="#">Convert all to HTML</button>
            </div>
          </li>
        </ul>
      </div>
    </div>
</nav>