<div>
    <fieldset>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">
            Add welcome page
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">
            Add navigation on page
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">
            Add contacts block
          </label>
        </div>
        <div style="display: flex; align-items: center; justify-content: center;">
          <button id="convertAllButton" type="button" class="btn btn-dark">Build the site</button>
        </div>
    </fieldset>
</div>