.textDivs 
{width: 650px; margin:0 10px;}

#textBefore
{min-height: 80px; width: 650px; height: 500px; border:1px solid #ccc;padding:10px;}

#textAfter
{min-height: 80px; width: 650px; height: 500px; border:1px solid #ccc;padding:10px;}