.siteBuilderDiv 
{display: flex; justify-content: center; }

.headerDiv
{ margin: 40px; display:flex; align-items: center; justify-content: center; }

.fileManagerDiv
{width: 410px; height: 300px; max-height: 300px; margin: 0 10px; }

#mdFiles, #htmlFiles
{width: 410px; height: 230px; border: 1px solid black; overflow: auto; padding-left: 10px; padding-top: 10px;}

.settings
{width: 410px; height: 100px; overflow: auto; display: flex; align-items: center; justify-content: center; }

.settingsDiv
{width: 410px; height: 100px; max-height: 300px; }

#frameDiv
{width: 770px; height: 630px;}

.previewDiv
{width: 900px;}

#mdFileButton, #mdDirButton, #htmlFileButton, #htmlDirButton
{background:none; border:none; }

#mdDirButton:hover, #htmlFileButton:hover, #htmlDirButton:hover
{color: #0000FF; }

#mdFileButton
{pointer-events: none;}

svg 
{ width: 24px; height: 24px; }

.item
{ display: grid; align-items: center; justify-items: start; grid-template-columns: 32px auto; padding: 4px;}