.navbar {
    display: flex;
    align-items: center;
    background-blend-mode: darken;
    background-size: cover;
    color: white;
    padding: 10px 20px;
    padding-left: 0px;
}

.nav-list {
    display: flex;
    list-style: none;
    padding-left: 0px;
}

.nav-list li {
    margin-right: 20px;
}

.nav-list li:last-child {
    margin-right: 0;
}

.nav-list li a {
    text-decoration: none;
<<<<<<< HEAD
    transition: color 0.3s ease-in-out;
}
=======
    font-size: 40px;
    transition: color 0.3s ease-in-out;
}

#mainTagsDiv {
    margin: 6rem auto 1rem;
    max-width: 48rem;
}
>>>>>>> 6d69ea3ffb11661bfc9533e523f314adf7f70e18
