<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>MDToHtml</title>
    <link th:href="@{/css/index.css}" rel="stylesheet" />
    <!-- Latest compiled and minified CSS -->
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet"/>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
</head>
<body>
    <h1 style="margin: 40px; text-align: center;">Markdown to HTML</h1>
    <div class="flex-container">
        <div class="fileManagerDiv">
            <div>
                <h2>Markdown files</h2>
                <div id="mdBtnContainer">
                    <button id="pickFilesButton">select files</button>
                    <button id="convertAllButton">convert</button>
                </div>
            </div>
            <div class="files" th:insert="~{fragments/listOfMdFiles.html :: div}" id="mdFiles"></div>
        </div>
        <div class="fileManagerDiv">
            <h2>HTML files</h2>
            <div class="files" th:insert="~{fragments/listOfHtmlFiles.html :: div}" id="htmlFiles"></div>
        </div>
    </div>
    <script th:src="@{/js/readFilesFromFolder.js}" type="text/javascript"> </script>
    <script th:src="@{/js/convertToHtml.js}" type="text/javascript"></script>
    <script th:src="@{/js/clickOnFile.js}" type="text/javascript"></script>
    <script th:src="@{/js/openNewPage.js}" type="text/javascript"></script>
</body>
</html>